body {
    text-align: center;
    background-color: #040D12;
}

#level-title {
    font-family: 'Finger Paint', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #93B1A6;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid #5C8374;
    border-radius: 20%;
}

.game-over {
    background-color: #9A3B3B;
    opacity: 0.8;
}

.green {
    background-color: #1eff00;
}

.blue {
    background-color: #0070dd;
}

.purple {
    background-color: #a335ee;
}

.orange {
    background-color: #ff8000;
}

.pressed {
    box-shadow: 0 0 20px black;
    background-color: #183D3D;
}